@media (max-width: 768px){
    /* responsivo header, main, footer */
    header h1 {
        font-size: 2.4rem;
    }

    header .menu-item {
        font-size: .8rem;
    }

    /* form-cep-responsive */
    #form-cep h1 {
        font-size: 2.4rem;
        padding: 20px 0;
    }

    #form-cep label {
        font-size: 1rem;
    }

    #form-cep .ipt {
        font-size: 13px;
    }

    /* busca de cep */

    #dv-buscar-dados-cep {
        padding: 10px;
    }

    #form-buscar-cep label{
        font-size: 1rem;
    }

    #form-buscar-cep #input-cep {
        width: 100%;
        height: 30px;
        font-size: 18px;
    }

    #form-buscar-cep #btn-consulta {
        height: 30px;
        font-size: 16px;
        margin: 10px;
    }

    #dv-dados {
        margin-top: 5px;
        font-size: 1rem;
    }
}

@media (max-width: 564px){
    /* responsivo header, main, footer */
    header h1 {
        font-size: 1.8rem;
        padding: 10px;
    }

    header .menu-item {
        font-size: .7rem;
    }

    #containerErro {
        font-size: 20px;
    }

    /* responsivo form */
    .container {
        flex-wrap: wrap;
    }

    #form-cep {
        width: 98%;
    }

    #form-cep h1 {
        font-size: 1.6rem;
        padding: 10px 0;
    }

    #form-cep label {
        font-size: 1rem;
    }

    #form-cep .ipt {
        font-size: 13px;
    }

    footer {
        font-size: .8rem;
    }
}